<div class="jumbotron">
  <div class="container">
    <h1>Welcome!</h1>
    <p>This is my Contact Page</p>
    <p>
      <a class="btn btn-primary btn-lg">Email Me</a>
      <a class="btn btn-primary btn-lg">GitHub</a>
      <a class="btn btn-primary btn-lg">Twitter</a>
      <a class="btn btn-primary btn-lg">LinkedIn</a>
      <a class="btn btn-primary btn-lg">Google+</a>
      <a class="btn btn-primary btn-lg">Facebook</a>
    </p>

    
  </div>
</div>



