<html>
  <head>
    <title><%= @message ? @message.subject : "Ryan Holdaway" %></title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

  </head>

  <body>
  <%= yield %>
  </body>


</html>